.product-card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(132, 132, 132, 0.5);
  max-width: 750px;
}
.product-card .product-card__left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.product-card .product-card__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .product-card li {
    list-style: none;
  }
  .product-card .product-card__img{
    width: 60%;
  }
  .product-card .product-card__title {
    border-bottom: 1px solid #8E2C2C;
    background-color: #8E2C2C;
    color: #fff;
    font-size: 2rem;
  }
  .product-card .product-card__subtitle {
    border-bottom: 2px solid #8E2C2C;
    border-left: 2px solid #8E2C2C;
    width: 40%;
    font-size: 1.5rem;
  }
  .product-card table {
    border: 2px solid #8E2C2C;
    text-align: center;
  }
  .product-card table th, .product-card table td{
    border: 1px solid #8E2C2C;
    padding: 0.5rem 0.3rem;
  }
  .product-card .product-card__ul--first {
    border-bottom: 2px solid #8E2C2C;
    border-left: 2px solid #8E2C2C;
    position: relative;
    left: 1rem;
    width: 90%;
    font-size: 1rem;
  }
  .product-card .bold-text {
    font-size: 1.2rem;
  }
  .product-card .product-card__ul--second {
    font-size: 1rem;
  }

  @media screen and (max-width: 767.98px) {
    .product-card .product-card__img {
      width: 45%;
    }
    .product-card .row.flex-inverse {
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 575.98px) {
    .product-card .product-card__img {
      width: 60%;
    }
  }