* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.contact-container {

}

    .contact-container__left-side {

    }

    .contact-container__left-side p{
        font-size: 1.1rem;
    }
        .contact-container__left-side p strong{
            font-size: 1.6rem;
            color: #8e2c2c;
        }

    .contact-container__right-side {

    }
        .contact-container__right-side .asterisk{
            color: #8e2c2c;
            font-size: 1.5rem;
        }
        .contact-container__right-side input:not([type=file]),
        .contact-container__right-side select
        {
            height: 2.5rem;
        }

        .contact-container__right-side input:not([type=file]),
        .contact-container__right-side select,
        .contact-container__right-side textarea{
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-left: 3px solid #8e2c2c;
            transition: box-shadow 0.15s;
        }

            .contact-container__right-side input:not([type=file]):hover,
            .contact-container__right-side textarea:hover{
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            }
            .contact-container__right-side input:not([type=file]):focus,
            .contact-container__right-side textarea:hover{
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            }

            .contact-container__right-side select{
                padding: 1%;
            }

                .contact-container__right-side select option[value=""]{
                    background-color: #8e2c2c;
                    color: #fff;
                }

        .contact-container__right-side .attach-container{
            height: 2rem;
            position: relative;
            padding: 0;
            transition: all 0.2s;
        }

            .contact-container__right-side .attach-container:hover{
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
            }

        .contact-container__right-side .attach-container input[type=file]{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

            .contact-container__right-side .attach-container .attach-stylish{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                transition: all 0.2s;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-left: 3px solid #8e2c2c;
                transition: box-shadow 0.15s;
                border-right: 3px solid #8e2c2c;
            }

        .contact-container__right-side button {
            display: block;
            width: 6rem;
            height: 2.4rem;
            border-radius: 8px;
            border: none;
            background-color: #8e2c2c;
            color: #fff;
            box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.38);
            transition: all 0.2s;
        }

            .contact-container__right-side button:hover {
                transform: scale(1.1);
            }

