.contact-container {

}

    .contact-container__left-side {

    }

    .contact-container__right-side {

    }
        .contact-container__right-side input {
            height: 2.5rem;
        }
        .contact-container__right-side input[type=file] {
            display: block;
        }
        .contact-container__right-side button {
            display: block;
            width: 6rem;
            height: 2.4rem;
        }