.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
.carousel-caption {
  bottom: 40%;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar:not(.navbar--index) {
  box-shadow: -1px 4px 4px 0px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.1s;
}
  .navbar-light .navbar-brand:hover {
    color: #8e2c2c;
  }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
  justify-content: center;
  flex-direction: row !important;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  font-size: 1.2rem;
  transition: 0.2s;
}
  .nav-link:hover {
    transform: scale(1.05);
    text-decoration: line-through;
    color: #8e2c2c !important;
  }

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar{
  background-color: rgba(0, 0, 0,0.2);
}

  .navbar .container .row {
    width: 100%;
    color: #fff;
  } 
    .navbar .container .row .nav--upper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
      .navbar .container .row .nav--upper .nav--upper__phone,
      .navbar .container .row .nav--upper .nav--upper__email{
        width: 50%;
        justify-content: flex-end;
      }
        .navbar .container .row .nav--upper .nav__phone-image {
          background-image: url('../img/call.png');
          background-size: 100% 100%;
          background-repeat: no-repeat; 
          width: 1.5rem;
          height: 1.5rem;
        }
        .navbar .container .row .nav--upper .nav__email-image {
          background-image: url('../img/email.png');
          background-size: 100% 100%;
          background-repeat: no-repeat; 
          width: 1.5rem;
          height: 1.5rem;
        }
        
    .navbar .container .row .nav--bottom{
      position: relative;
      display: flex;
      justify-content: flex-end;
    } 
      .navbar .container .row .nav--bottom .navbar-brand {
        position: absolute;
        bottom: 1.5rem;
        left: 2%;
      }

.navbar.scrolled {
  background-color: #000;
}


.intro-page{
  background-image: url("../img/363.jpg") ;
  height: 275px;
}

.about-description{
  margin-top: 70px;
  font-size: 1.5em;
}

.mision{
  background-color: #595959;
  width: 100%;

}

.text{
  margin-top: 35%;
}

.color-text{
  color: white;
}

.vision{
  background-color: white;
  width: 100%;
  
}

.none-padding{
   padding-right: 0px;
   padding-left: 0px;
}

header.masthead {
  padding-top: 15rem;
}

header.masthead .overlay-categorias{
  height: 65%;
}


.nav-categories{
  height: 60px;
  padding: 15px;
  font-size: 1em;
}

section.nav-categories .nav-link{
  color: black;
}

section.nav-categories .active{
  color: red;
}

.img-producto{
  padding-bottom: 15px;
}